docs/data/Off/Superfetch.json
{
  "name": "SuperMaster Fetch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supermaster/fetch",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "boolean": [],
          "number": [],
          "string": [
            {
              "name": "response",
              "value": "{\"action\":\"updateTheme\",\"payload\":{\"cssVariable\":\"--bg\",\"value\":\"linear-gradient(to right, #2e004f, #6100a0)\"}}"
            }
          ],
          "json": []
        },
        "options": {}
      },
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "responseData": "={{$node[\"Set Response\"].json[\"response\"]}}",
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "SuperMaster Fetch"
}
